@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply bg-[#e5e5e5]; */
}

/* Background styles */
body {
    background-image: url('assets/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size: cover; */
}

/* Glassmorphism card effect */
.glass {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    /* border-radius: 12px; */
    /* border-left: 1px solid rgba(255, 255, 255, 0.125);
    border-right: 1px solid rgba(255, 255, 255, 0.125); */
}

.glassButton {
    background-color: #278b43;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, 0));
    border-color: #25833f;
    color: #fff;
}


.glassButton:focus,
.glassButton:hover {
    background-color: #278b43;
    background-image: var(--bs-gradient);
    border-color: #25833f;
    color: #fff;
}

.loader {
    /* width: 100px; */
    /* Adjust the width and height as needed */
    /* height: 100px; */
    animation: spin .6s infinite linear;
    /* Apply the spin animation */
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
        /* Starting position */
    }

    to {
        transform: rotateY(360deg);
        /* Ending position */
    }
}

/* Generated by https://generator.ui.glass/ */